$highPriority: rgb(255, 50, 50);
$mediumPriority: rgb(255, 255, 45);
$lowPriority: rgb(56, 255, 56);

$sky: #00d4e0;
$sea: #0a5ec4;
$ocean: #253157;
$white: white;

$shadow: rgba(82, 82, 82, 0.2);

$font: rgb(10, 10, 10);

