@import "@/styles/varStyles.scss";
@import "@/styles/varColors.scss";

.todo {
  margin: 30px;
  width: 260px;
  height: 80px;
  background-color: $white;
  border-radius: $borderRadius;
  border: solid 1px $sky;
  transition: all ease 200ms;
  cursor: pointer;

  padding: 20px 10px;
}

.todo:hover {
  box-shadow: 4px 4px 8px 0px $shadow;
}

.todo::before {
  
}